@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
:root {
	--primary: rgb(60, 65, 133);
	--brown: rgb(66, 66, 66);
	--red: rgb(80, 86, 168);
	--hover: #009aef;
	--White: #eee ;
}
body {
	background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff);
	font-size: 16px;
	width: 100%;
	height: 5000px;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
}
/* end navbar */
.panel-heading {
	color: black;
}
h1{
	color: black;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 60px;
}
.language{
	margin: 3px 16px;
}
a.nav-link:hover{
	color: var(--hover);
}
.dropdown-menu {
	top: 117% !important;
	left: -11% !important;
	background-color: #123354;
}
a.nav-link {
	color: white;
}
a.dropdown-item {
	color: #eee;
}
/* Start categories page */
.categores-container{
	max-width: 90%;
}
.box-image{
	width: 268px ;
	height: 250px;
}
.item-box{
	border: 0.001cm solid rgba(0, 0, 0, 0.11);
	border-radius: 15px ;
}

/* End categories page */
/* Start navbar */
.uber_bar{
	padding-right: 10%;
	margin: 20px 0px;
}


/* end navbar */

.main{
	width: 350px;
	height: 500px;
	background: #573b8a;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	margin:  5% 40%;

}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.login-button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #844bbd;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.social-login {
	position: absolute;
	height: 175px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #302b63;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #240b53;
	text-decoration: none;
	text-shadow: 0px 0px 0px ;
}

.social-login__icon:hover {
	transform: scale(1.5);
}

.error-msg{
	width: 349px;
	height: 40px;
	text-align: center;
	padding: 10px 0px;
	background-color: rgba(236, 0, 0, 0.24);
	margin: -30px 40%;
}
.error-msg:before{
	content: " ";
	width: 6px;
	height: 40px;
	background-color: red;
	position: absolute;
	margin: -10px -63px;
}
.succes-msg{
	width: 349px;
	height: 40px;
	text-align: center;
	padding: 8px 0px;
	background-color: rgba(0, 255, 4, 0.15);
	margin: -30px 40%;
	border: 1px solid rgba(91, 91, 91, 0.2);
	border-left: 5px solid green ;
}